
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .gallery img {
    width: 80%;
  }

@media only screen and (min-width: 450px) {
  
  }

  @media only screen and (min-width: 600px) {
    .gallery img {
      margin-top: 5%;
      border: 5px solid red;
      width: 20%;
    }
    .gallery {

    }
  }

  @media only screen and (min-width: 900px) {
  
  }