.intern {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  align-items: center;
}

.intern img {
  width: 80%;
  height: auto;
  border-radius: 30px;
}

.intern h2 {
  margin-top: 35px;
}

.intern caption {
  font-size: 12px;
}

.intern-items {
  text-align: center;
  margin: 30px;
}

.detailed-info2,
.detailed-info1 {
  display: none;
}

#internship {
  background-color: cyan;
  font-weight: bolder;
  text-decoration: none;
}

#internship a {
  /* font-size: 24px; */
}

@media only screen and (min-width: 700px) {

  .intern {
    grid-template-columns: 1fr 1fr;
  }

  .detailed-info2 {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 36px;
  }

  .detailed-info2 p {
    margin: unset;
    padding: unset;
  }

  .right-item {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .right-item > p {
    text-align: right;
    margin-right: 30px;
  }

  .left-item {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .left-item p {
    text-align: left;
    margin-left: 30px;
  }

}

@media only screen and (min-width: 1100px) {
  .intern {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .intern > img {
    width: 100%;
    height: auto;
  }

  .detailed-info2 {
    display: none;
  }

  .detailed-info1 {
    margin: 20px;
    display: block;
  }

  .right-item {
    grid-column-start: initial;
    grid-column-end: initial;
  }


  




}