.nav_bar {
    display: flex;
    justify-content: space-around;
    position: sticky;
}

.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_bar ul li {
    display: inline-block;
}

.nav_bar ul li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

body {
    overflow: auto;
}


a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }